# Preprocess ECCITE data

In [1]:
import scanpy as sc
import pandas as pd
import scipy.stats as stats
from scipy.io import mmread

In [4]:
data_path = '/data_volume/scito/eccite/'

In [5]:
counts = mmread(data_path + 'RNA_counts.mtx')

In [21]:
meta = pd.read_csv(data_path + 'mixscape_meta.csv', index_col=0)

In [31]:
len(meta.columns)

27

In [32]:
len(set(meta.columns))

27

In [23]:
meta['crispr'].value_counts()

Perturbed    18343
NT            2386
Name: crispr, dtype: int64

In [24]:
genes = pd.read_csv(data_path + 'genes.csv')

In [33]:
adata.var.head(5)

                           x
x
AL627309.1        AL627309.1
AP006222.2        AP006222.2
RP4-669L17.10  RP4-669L17.10
RP11-206L10.3  RP11-206L10.3
RP11-206L10.2  RP11-206L10.2

In [25]:
genes.index=genes['x']

In [26]:
meta.shape

(20729, 27)

In [27]:
adata = sc.AnnData(counts.T.tocsr(), obs=meta, var=genes)

In [35]:
adata.obs.index.name = None
adata.var.index.name = None

In [36]:
adata.obs.head(5)

,orig.ident,nCount_RNA,nFeature_RNA,nCount_HTO,nFeature_HTO,nCount_GDO,nFeature_GDO,nCount_ADT,nFeature_ADT,percent.mito,...,con,NT,crispr,replicate,S.Score,G2M.Score,Phase,mixscape_class,mixscape_class_p_ko,mixscape_class.global
l1_AAACCTGAGCCAGAAC,Lane1,17207,3942,99,4,576,111,801,4,2.295577,...,tx,STAT2g2,Perturbed,rep1,-0.252716,-0.771309,G1,STAT2 KO,0.999851,KO
l1_AAACCTGAGTGGACGT,Lane1,9506,2948,35,5,190,111,545,4,4.512939,...,tx,CAV1g4,Perturbed,rep1,-0.123802,-0.332603,G1,CAV1 NP,0.000000,NP
l1_AAACCTGCATGAGCGA,Lane1,15256,4258,66,4,212,111,344,4,4.116413,...,tx,STAT1g2,Perturbed,rep1,-0.154633,-0.694418,G1,STAT1 KO,1.000000,KO
l1_AAACCTGTCTTGTCAT,Lane1,5135,1780,22,3,243,111,539,4,5.491723,...,tx,CD86g1,Perturbed,rep1,-0.061262,-0.037820,G1,CD86 NP,0.000000,NP
l1_AAACGGGAGAACAACT,Lane1,9673,2671,99,5,198,111,1053,4,3.359868,...,tx,IRF7g2,Perturbed,rep1,-0.132188,-0.353156,G1,IRF7 NP,0.000000,NP

In [40]:
adata = adata[adata.obs['mixscape_class.global'].isin(['NT', 'KO'])]

In [43]:
adata.obs.gene.value_counts()

NT        2386
IFNGR1     979
IFNGR2     909
JAK2       798
IRF1       681
SMAD4      546
STAT2      531
STAT1      335
BRD4       145
CUL3       100
MYC         27
SPI1        18
Name: gene, dtype: int64

In [44]:
adata.write(data_path + 'eccite_mixscape.h5ad')